Repository beetbox/beets, pull requests merged in 2019-04, with the labels that each got.

#3209 Catch OSError in prune_dirs helper
  beets/util/__init__.py
  docs/changelog.rst
Labels: bug

#3227 docs: remove reference to BeetsPlugin.listen
  docs/dev/plugins.rst
Labels: bug, docs

#3226 Add loadext plugin
  beets/dbcore/db.py
  beetsplug/loadext.py
  docs/changelog.rst
  docs/plugins/index.rst
  docs/plugins/loadext.rst
Labels: newplugin
