Repository beetbox/beets, pull requests merged in 2025-09, with the labels that each got.

#6012 fix incorrect matches when album is missing or empty in spotify plugin search filter
  beets/metadata_plugins.py
  beetsplug/spotify.py
  docs/changelog.rst
Labels: spotify, plugin

#6013 Move `art.py` to `beetsplug._utils` package to avoid polluting core namespace
  .git-blame-ignore-revs
  beetsplug/_utils/__init__.py
  beetsplug/_utils/art.py
  beetsplug/convert.py
  beetsplug/embedart.py
  docs/changelog.rst
  test/plugins/test_embedart.py
Labels: refactor

#5943 feat(FtInTitle): Support tracks by artists != album artist
  beetsplug/ftintitle.py
  docs/changelog.rst
  test/plugins/test_ftintitle.py
Labels: plugin

#6032 Improved `beets/logging.py` typing
  .github/CODEOWNERS
  beets/logging.py
  beetsplug/fetchart.py
  beetsplug/lyrics.py
  docs/changelog.rst
  test/test_logging.py
Labels: refactor, typehints, core
