Repository beetbox/beets, pull requests merged in 2025-05, with the labels that each got.

#5754 Update pathformat.rst
  docs/reference/pathformat.rst
Labels: review-needed

#5624 Importer restructure
  .git-blame-ignore-revs
  beets/importer/__init__.py
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/state.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands.py
  beets/util/__init__.py
  beetsplug/badfiles.py
  beetsplug/edit.py
  beetsplug/fetchart.py
  beetsplug/ihate.py
  beetsplug/zero.py
  docs/dev/plugins.rst
  test/plugins/test_importadded.py
  test/test_importer.py
  test/test_plugins.py
Labels: refactor

#5716 Add fetchart typing v2
  .github/workflows/ci.yaml
  beets/test/helper.py
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_art.py
  test/plugins/test_embedart.py
Labels: refactor, typehints

#5795 Streamlined auto api referencing for documentation
  docs/.gitignore
  docs/Makefile
  docs/_templates/autosummary/base.rst
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/api/database.rst
  docs/api/plugins.rst
  docs/changelog.rst
  docs/conf.py
  docs/dev/index.rst
  docs/dev/library.rst
  docs/dev/plugins.rst
Labels: refactor, docs

#5801 [Inner loop] Require `langdetect` when running tests
  docs/changelog.rst
  poetry.lock
  pyproject.toml
  test/plugins/test_lyrics.py
Labels: testing
