Repository beetbox/beets, pull requests merged in 2025-07, with the labels that each got.

#5705 Fix: Spotify plugin unable to recognize Chinese and Japanese albums.
  beetsplug/spotify.py
  docs/changelog.rst
  docs/plugins/spotify.rst
  test/plugins/test_spotify.py
  test/rsrc/spotify/japanese_track_request.json
Labels: spotify

#5775 Move queries and types to respective modules
  .git-blame-ignore-revs
  beets/dbcore/query.py
  beets/dbcore/types.py
  beets/library.py
  beets/ui/__init__.py
  beets/ui/commands.py
  beets/util/__init__.py
  beets/util/units.py
  beetsplug/deezer.py
  beetsplug/metasync/amarok.py
  beetsplug/metasync/itunes.py
  beetsplug/mpdstats.py
  beetsplug/playlist.py
  beetsplug/spotify.py
  beetsplug/types.py
  beetsplug/web/__init__.py
  test/test_library.py
  test/test_query.py
  test/test_types.py
  test/test_ui_init.py
  test/util/test_units.py
Labels: refactor

#5814 Minor improvements to deezer plugin typing.
  beets/plugins.py
  beetsplug/deezer.py
Labels: typehints
